<mat-card>
  <div class="mat-elevation-z8">
    <mat-toolbar>
      <span>Clientes</span>
      <span class="example-spacer"></span>
      <button
      (click)="onAdd()"
      mat-stroked-button
      color="primary"
      class="cadastrar-btn"
      aria-label="Example icon-button with add icon"
      >
      Cadastrar Cliente
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
  
    <app-clientes-list
    *ngIf="clientes$ | async as clientes; else loading"
    [clientes]="clientes"
    ></app-clientes-list>
  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  </div>
</mat-card>
