<mat-card>
    <mat-toolbar>
      <span>Funcionários</span>
      <span class="example-spacer"></span>
      <button
        (click)="onAdd()"
        mat-stroked-button color="primary"
        class="cadastrar-btn"
        aria-label="Example icon-button with add icon"
      > 
        Cadastrar Funcionário
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
  
    <div *ngIf="funcionarios$ | async as funcionarios; else loading">
      <table mat-table [dataSource]="funcionarios" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <!-- Position Column -->
        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef>id</th>
          <td mat-cell *matCellDef="let funcionario">{{ funcionario._id }}</td>
        </ng-container>
  
        <!-- Position Column -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let funcionario">{{ funcionario.nome }}</td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="expediente">
          <th mat-header-cell *matHeaderCellDef>Expediente</th>
          <td mat-cell *matCellDef="let funcionario">
            {{ funcionario.expediente }}
          </td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="observacoes">
          <th mat-header-cell *matHeaderCellDef>Observações</th>
          <td mat-cell *matCellDef="let funcionario">
            {{ funcionario.observacoes }}
          </td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let funcionario">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="loupe"
              class="action-icon"
            ></mat-icon>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="edit"
              class="action-icon"
            ></mat-icon>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="delete"
              class="action-icon"
            ></mat-icon>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card>
  